<script lang="ts">
  let count = 0;

  function handleClick() {
    count += 1;
  };
</script>

<button on:click={handleClick}>
  Clicks: {count}
</button>

<style lang="postcss">
button {
  @apply border border-emerald-600 px-2 py-1;
}
</style>