<script lang="ts">
  export let content: String | null;
</script>

<div class="map">
  <slot>
    <p>{content}</p>
  </slot>
</div>

<style>
.map {
  height: 300px;
  width: 600px;
  background-color: burlywood;
} 
</style>