<script lang="ts">
  import { Button } from '@nekta/elements';
  import { Map } from '@nekta/components';

  let content = 'Nekta Map'
</script>

<h1>Welcome to Nekta Docs</h1>

<Button></Button>
<Map {content}></Map>