<script>
import { Button } from '@nekta/elements';
</script>

<nav class="text-xl flex justify-between">
  <p class="bg-amber-300">
    __layout nav
  </p>
  <Button></Button>
</nav>

<slot></slot>

<style lang="postcss">
  @import '@config/tailwind/global.css';
</style>